<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대구시 민원 접수</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <main calss="contents">
        <h1>대구시 민원 접수 💬 </h1>
        <form id = "prediction-form" action="/predict" method="POST">
            <div class="attr-wrap">
                <label id="lb_sub" for="subscription">자치구를 고르세요. </label>
                <select id="subscription" name = "subscription">
                    <option value="BukGu" name = "BukGu" selected>북구</option>
                    <option value="DalseongGun" name = "DalseongGun" >달성군</option>
                    <option value="DalsuGu" name = "DalsuGu" >달서구</option>
                    <option value="DongGu" name = "DongGu" >동구</option>
                    <option value="JungGu" name = "JungGu" >중구</option>
                    <option value="NamGu" name = "NamGu" >남구</option>
                    <option value="SeoGu" name = "SeoGu" >서구</option>
                    <option value="Suseonggu" name = "Suseonggu" >수성구</option>
                </select>
            </div><hr>
                <label id="lb_text" for="sentence">민원을 입력하세요. </label>
                <p id="p_text">
                    <textarea id="sentence" name="sentence"> </textarea>
                </p>
                <button id='btn_submit' type="submit">접수</button>   
        </form>
        <script>
            // 폼 제출 이벤트 리스너 : 완료버튼이 눌리면 클릭 이벤트
            document.getElementById("prediction-form").addEventListener("submit", function(event){
                // select 값 추가하기
                const select = document.getElementById("subscription");
                const selectedOption = select.options[select.selectedIndex].value;
                
                console.log(selectedOption);
                // 새로운 input 엘리먼트 속성을 설정
                const input = document.createElement("input");
                // tpye 설정을 히든으로 해서 사용자한테는 안 보이게 해줌
                input.setAttribute("type", "hidden");
                // name 속성을 subscription으로 설정 -> 서버에서 해당 값을 받아올 때 사용
                input.setAttribute("name", "subscription");
                input.setAttribute("value", selectedOption);
                // 생성된 input엘리먼트를 id가 prediction-form인 폼에 추가해서 함께 전송
                document.getElementById("prediction-form").appendChild(input);
            });
        </script>
    </main>
</body>
</html>
