    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AIVLE</title>
    </head>
    <body>
        <h1>대구시 민원 부서 분류</h1>
        <form action="/predict" method="POST">
        <label for="sentence">민원을 입력하세요: </label>
        <input type="text" id="sentence" name="sentence"><br><br>
        <input type="submit" value="Predict">
        </form>
    </body>
    </html>
