@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

main{
    font-family: 'SUITE-Regular';
    height: 100%;
    width: 750px;
    margin: 0 auto;
    text-align: center;
    /* 수평정렬 */
    display: table;
}


main>section>.table-wrap{
    width: 750px;
}

main>section>.table-wrap>table{
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
    border-spacing: 15px 30px;
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
}



table tr{
    border-bottom: 1px solid gray;
}

table th, table td{
    padding: 10px;
    text-align: center;
}

#subscription_page{
    font-family: 'SUITE-Regular';
    font-size: 15px;
    margin-bottom: 10px;
}

table tr{
    border-bottom: 1px solid gray;
}


.th_sub {
    table-layout: fixed;
    width: 150px;
}
  