@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html, body{
    height: 100%;
}

main{
    height: 100%;
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    /* 수평정렬 */
    display: table;
}


main>.wrap{
    /* table에서 한칸을 차지한다 */
    display: table-cell;
    vertical-align: middle;
}

#text{
    font-family: 'SUITE-Regular';
    font-size: 18px;
    width: 450px;
    height: 450px;
    padding: 5px;
    text-align: left;
    vertical-align: bottom;
}

#category{
    font-family: 'SUITE-Regular';
    font-size: 15px;
}